html {
  font-size: 62.5%;
}

.page__header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(98, 98, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page__title {
  font-size: 5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page__footer {
  height: 5vh;
  width: 100vw;
  background-color: rgb(98, 98, 199);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__404 {
  font-size: 4rem;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message__404 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn__general {
  display: block;
  margin: 0 auto;
}

.btn__link {
  text-decoration: none;
  color: black;
}

.form__container {
  padding: 5%;
  background-color: rgb(98, 98, 199);
  border-radius: 10px 40px;
}

.form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input__label {
  font-size: 2rem;
}
